html {
    font-size: 20px;
}
#logo {
    height: 100px;
    margin-left: 40px;
    position: absolute;
    top: 200px;
    left: -100px;
}
body {
    /*background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
    background-size: cover;*/
    font-family: sans-serif;
    /*margin-top: 80px;
    padding: 30px; */
    font-size: 1rem;
}
/*main {*/
/*    color: black;*/
/*    position: relative;*/
/*    left: 200px;*/
/*}*/
table, td, th {
    border: 1px solid brown;
    border-collapse: collapse;
}
header {
    border: 2px solid black;
    background-color: cornflowerblue;
    height: 150px;
}
/*banner {*/
/*    postition: fixed;*/
/*    top: 1px;*/
/*    width: 100%;*/
/*}*/
td {
    padding-left: 10px;
    padding-right: 5px;
}
nav ul {
    /*position: relative;*/
    /*top: -50px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 70%;
}
nav li {
    margin-left: 0px;
    margin-right: 5px;
    border: solid 1px;
    background-color: cyan;
    width: 145px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    display: inline;
}

#title {
    color: blueviolet;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 30px;
    left: 25%
}
nav a:hover, a:active {
    background-color: green;
}

nav a:active {
    background-color: violet;
}

nav a:visited {
    background-color: red;

}
@media screen and ( max-width: 1200px ) {
    #title {
        font-size: 0.75rem;
        color: blueviolet;
        padding-right: 15%;
    }
    nav ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav li {
        margin-left: 0px;
        margin-right: 5px;
        border: none;
        background-color: darkseagreen;
        margin-top: 5px;
        font-size: 12px;
        width: 100px;
        padding: 0px;

    }
    #logo {
        height: 70px;
        margin-left: 40px;
        position: fixed;
        top: 20px;
        left: -10px;
    }
    banner {
        border: 2px solid black;
    }
    header {
        height: 100px;
    }
    table {
        width: 30%;
    }
    body {
        font-size: .75rem;
    }
}